@import url("https://fonts.googleapis.com/css?family=Calligraffitti|Nunito&display=swap");

.App {
  text-align: center;
  font-family: "Calligraffitti", cursive;
  font-size: large;
  margin-top: 5px;
}
.App button {
  font-family: "Nunito", sans-serif;
  float: center;
  margin: 3px;
}
